@{
    ViewData["Title"] = "Registre-se";
}

<div class=" flex items-center justify-center">
    <div class="bg-azul-paleta shadow-md rounded-lg px-8 py-6 max-w-md">
        <h1 class="text-2xl font-bold text-center mb-4 text-gray-200">Bem-vindo ao Cidade Unida!</h1>
        <p class="text-center text-gray-400 mb-6">Preencha o formulário abaixo para criar sua conta.</p>
        <form action="#">
            <!-- Nome Completo -->
            <div class="mb-4">
                <label for="nome" class="block text-sm font-medium text-gray-300 mb-2">Nome Completo</label>
                <input type="text" id="nome" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Seu Nome Completo" required>
            </div>
            <!-- Email -->
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-300 mb-2">E-mail</label>
                <input type="email" id="email" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="lyoto.machida@email.com" required>
            </div>
            <!-- Telefone -->
            <div class="mb-4">
                <label for="telefone" class="block text-sm font-medium text-gray-300 mb-2">Telefone</label>
                <input type="tel" id="telefone" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="(11) 99999-9999" required>
            </div>
            <!-- Senha -->
            <div class="mb-4">
                <label for="senha" class="block text-sm font-medium text-gray-300 mb-2">Senha</label>
                <input type="password" id="senha" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Digite sua senha" required>
            </div>
            <!-- Confirmar Senha -->
            <div class="mb-4">
                <label for="confirmar-senha" class="block text-sm font-medium text-gray-300 mb-2">Confirmar Senha</label>
                <input type="password" id="confirmar-senha" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Confirme sua senha" required>
            </div>
            <!-- Botão de Registrar -->
            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-verde-escuro-paleta hover:bg-verde-paleta duration-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Registrar</button>
        </form>
        <p class="text-center text-gray-400 mt-6">Já possui uma conta? <a asp-action="Entrar" asp-controller="Home" class="text-verde-paleta hover:text-verde-escuro-paleta duration-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Entrar</a></p>
    </div>
</div>
